<div class="container">
    <div class="row">
        <div class="col-6">
            <h1>Issues</h1>
        </div>
        <div class="col-6">
            <button type="button" class="btn btn-light left"><a class="button_new_issue" [routerLink]="['/issues/new']">Create Issue</a></button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-7" id="filter">
            <p>Filter by:</p>
            <ul>
                <li>All</li>
                <li>Open</li>
                <li>My issues</li>
                <li>Watching</li>
            </ul>
        </div>
        <div class="col-3" id="advanced-search">
            Advanced search
        </div>
        <div class="col-2" id="input">
            <input type="text" class="form-control" aria-describedby="Find issues" placeholder="Find issues">
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-12">
            <h6>Issues (1-{{issues.length}} of {{issues.length}})</h6>
        </div>
    </div>
    <br>
    <table class="table table-borderless">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">T</th>
                <th scope="col">P</th>
                <th scope="col">Status</th>
                <th scope="col">Votes</th>
                <th scope="col">Assignee</th>
                <th scope="col">Created</th>
                <th scope="col">Updated</th>
                <th scope="col">Watched</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let issue of issues">
                <td>{{issue.title}}</td>
                <td>{{issue.type}}</td>
                <td>{{issue.priority}}</td>
                <td>{{issue.status}}</td>
                <td>{{issue.votes}}</td>
                <td>{{issue.assignee}}</td>
                <td>{{issue.creationDate}}</td>
                <td>{{issue.updateDate}}</td>
                <td>{{issue.watched}}</td>
            </tr>
        </tbody>
    </table>
</div>
