
#filter {
    font-size: 14px;
    margin: 0px auto;
}

#filter ul {
    line-height: 0px;
    float: left;
    margin-top:  -25px;
    margin-left: 25px;
}

#filter ul li {
    display: inline-block;
    list-style: none;
    margin-left: 10px;
    margin-right: 10px;
}

#filter a {
    text-decoration: none;
    color: #000;
    transition: 300ms all;
}

#filter a:hover {
    color: #666;
}

#advanced-search {
    text-align: right;
}

#input {
    margin-top:  -7px; 
}

.left {
    display: block;
    float: right;
}

.button_new_issue {
    text-decoration: none;
    color: #444;
}