<div class="container">
    <div class="row">
        <div class="col-6">
            <h1>Issues</h1>
        </div>
        <div class="col-6">
            <button type="button" class="btn btn-light left new_issue"><a class="button_new_issue" [routerLink]="['/issues/new']">Create Issue</a></button>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-7" id="filter">
            <p id="filter">Filter by:</p>
            <ul>
                <li><button type="button" class="btn btn-light" (click)="onClickAll()">All</button></li>
                <li><button type="button" class="btn btn-light" (click)="onClickOpen()">Open</button></li>
                <li><button type="button" class="btn btn-light" (click)="onClickMyIssue()">My issues</button></li>
                <li><button type="button" class="btn btn-light" (click)="onClickWatching()">Watching</button></li>
            </ul>
        </div>
        <div class="col-3" id="advanced-search">
            Advanced search
        </div>
        <div class="col-2" id="input">
            <input type="text" class="form-control" aria-describedby="Find issues" placeholder="Find issues">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h6>Issues ({{pagina}}-{{issues.length}} of {{issues.length}}) </h6>
        </div>
    </div>
    <br>
    <table class="table table-borderless">
        <thead>
            <tr>
                <th scope="col"><button type="button" class="btn btn-secondary" (click)="onClickTitle()">Title</button></th>
                <th scope="col"><button type="button" class="btn btn-secondary" (click)="onClickType()">T</button></th>
                <th scope="col"><button type="button" class="btn btn-secondary" (click)="onClickPriority()">P</button></th>
                <th scope="col"><button type="button" class="btn btn-secondary" (click)="onClickStatus()">Status</button></th>
                <th scope="col"><button type="button" class="btn btn-secondary" (click)="onClickVotes()">Votes</button></th>
                <th scope="col"><button type="button" class="btn btn-secondary" (click)="onClickAssignee()">Assignee</button></th>
                <th scope="col"><button type="button" class="btn btn-secondary" (click)="onClickCreated()">Created</button></th>
                <th scope="col"><button type="button" class="btn btn-secondary" (click)="onClickUpdated()">Updated</button></th>
                <th scope="col"><button type="button" class="btn btn-secondary" (click)="onClickWatch()">Watched</button></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let issue of issues">
                <td id="filter">
                    <a [routerLink]="['/issue/', issue.id]">
                        #{{issue.id}}: {{issue.title}}
                    </a>
                </td>
                <td><button type="button" class="btn btn-light" (click)="onClickFilterByType(issue.type)">{{issue.type}}</button></td>
                <td><button type="button" class="btn btn-light" (click)="onClickFilterByPriority(issue.priority)">{{issue.priority}}</button></td>
                <td><button type="button" class="btn btn-light" (click)="onClickFilterByStatus(issue.status)">{{issue.status}}</button></td>
                <td>{{issue.votes}}</td>
                <td>
                    <button *ngIf="issue.assigne != null" type="button" class="btn btn-light" (click)="onClickFilterByAssignee(issue.assignee.id)">{{issue.assignee}}</button>
                </td>
                <td>{{issue.creationDate | generateDate}}</td>
                <td>{{issue.updateDate | generateDate}}</td>
                <div *ngFor="let watcher of issue.watchers">
                    <td *ngIf="watcher.username == identity">
                        *_*
                    </td>
                </div>
                
            </tr>
        </tbody>
    </table>

    <div *ngIf="issues.length > 0" class="separator"></div>
    
</div>
