.left {
    display: block;
    float: right;
}

.status {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    margin-left: 10px;
}

.text-left {
    text-align: right !important;
}

.border1 {
    border: 1px solid #CCC;
    border-right: 1px solid white;
}
.border2 {
    border: 1px solid #CCC;
    border-left: 1px solid white;
    margin-left: -1px;
}

.image {
    height: 100px;
    width: 100px;
    margin: 25px;
    margin-bottom: 5px;
}

#text-description {
    margin-left: 25px;
}

#firstLeter-1 {
    margin-left: 25px;
    margin-top: 10px;
    background-color: #FA5;
    padding-left: 15px;
    padding-right: 23px;
    padding-bottom: 5px;
    padding-top: 3px;
    border-radius: 100%;
}

#firstLeter-2 {
    margin-left: 25px;
    background-color: #6AF;
    padding-left: 15px;
    padding-right: 23px;
    padding-bottom: 5px;
    padding-top: 3px;
    border-radius: 100%;
}

#data {
    margin-top: -7px !important;
}

#enviar {
    margin-left: -15px;
}