<div class="container">
    <div class="row">
        <div class="col-6">
            <h3>{{issue.title}}</h3>
        </div>
        <div class="col-6">
            <button type="button" class="btn btn-light left"> Create Issue </button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-6">
            <h6>Issue #{{issue.id}} <button type="button" class="btn btn-dark status"> NEW </button></h6>
        </div>
        <div class="col-6">
            <button type="button" class="btn btn-light left"> Attach </button>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-7">
            {{user.username}} created an issue 2017-03-20 <br>
            {{issue.description}}
        </div>
        <div class="col-2">
            Assigne <br>
            Type <br>
            Priority <br>
            Status <br>
            Votes <br>
            Watchers <br>
        </div>
        <div class="col-3">
            Carles Ferré <br>
            task <br>
            blocker <br>
            new <br>
            Remove vote <br>
            Watch this issue
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12"> 
            <h5>Comments (0)</h5>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-1">
            <h4>CF</h4>
        </div>
        <div class="col-5">
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="What wold you like to say?">
        </div>
    </div>
</div>
