<header>
        <div class="center">
            <div class="container">
                <div class="row">
                   <!-- LOGO -->
                    <div id="logo">
                        <strong>Projecte</strong> ASW
                    </div>
                    <!-- MENÚ -->
                    <nav id="menu">
                        <ul>
                            <li>
                                <a [routerLink]="['/issues']">Issues</a>
                            </li>
                            <li>
                                <a [routerLink]="['/issues/new']" *ngIf="identity && identity.sub">Create Issue</a>
                            </li>
                            <li>
                                |
                            </li>
                            <span *ngIf="!identity">
                                <li>
                                    <a [routerLink]="['/iniciar-sesion']">Iniciar Sesión</a>
                                </li>
                                <li>
                                    <a [routerLink]="['/registrarse']">Registrarse</a>
                                </li>
                            </span>
                            <span *ngIf="identity && identity.sub">
                                <li>
                                    {{identity}}
                                </li>
                                <li>
                                    <a [routerLink]="['/iniciar-sesion', 1]">Salir</a>
                                </li>
                            </span>
                        </ul>
                    </nav>  
                </div>
            </div>
    
            <!--LIMPIAR FLOTADOS-->
            <div class="clearfix"></div>
        </div>
    </header>
<div class="margin-header"></div>
<router-outlet></router-outlet>
