<div class="container">
    <div class="row">
        <div class="col-12">
            <h3>Login</h3>

            <div class="identity-alert alert alert-success" *ngIf="identity && identity.sub">
                You have been correctly identified! you are welcome {{identity.email}}
            </div>
    
            <div class="identity-alert alert alert-danger" *ngIf="identity && identity.data">
                You have not identified correctly!
            </div>

            <br>
            <form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-6 no-padding">
                <p>
                    <label>Email:</label>
                    <input type="email" class="form-control" name="email" #email="ngModel" 
                    [(ngModel)]="user.email" required/>
                </p>
                <div class="col-md-7 alert-danger" *ngIf="!email.valid && email.touched">
                    <span><small>The email is not valid</small></span> 
                </div>
                <br>
                <p>
                    <label>Password:</label>
                    <input type="password" class="form-control" name="password" #password="ngModel"
                    [(ngModel)]="user.password" required>
                </p>
                <div class="col-md-7 alert-danger" *ngIf="!password.valid && password.touched">
                    <span><small> Invalid Password </small></span> 
                </div>
                <br>
                <div #loginRef>
                    <input type="submit" value="Login" class="btn btn-primary" [disabled]="!loginForm.form.valid">
                    &nbsp;&nbsp;
                    <button class="loginBtn loginBtn--google g-signin2 btn btn-light" #loginRef>
                        Login with Google
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
