<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Create Issue</h1>
        </div>
    </div>
    <br><br>
    <table class="table table-borderless">
        <tbody>
            <tr>
                <td>Title</td>
                <td><input type="text" class="form-control"></td>
            </tr>
            <br>
            <tr>
                <td>Description</td>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </tr>
            <br>
            <tr>
                <td>Kind</td>
                <td>
                    <select class="form-control">
                        <option>Default select</option>
                    </select>
                </td>
                <td></td>
                <td></td>
            </tr>
            <br>
            <tr>
                <td>Priority</td>
                <td>
                    <select class="form-control">
                        <option>Default select</option>
                    </select>
                </td>
            </tr>
            <br>
            <tr>
                <td>Attachment</td>
                <td><input type="file" name="fileToUpload" id="fileToUpload"></td>
            </tr>
        </tbody>
    </table>
    <br>
    <div class="row">
        <div class="col-8"></div>
        <div class="col-2"><button type="button" class="btn btn-primary">Create issue</button></div>
        <div class="col-2"><button type="button" class="btn btn-light">Cancel</button></div>
    </div>
</div>
